.aosr-fuzzy-ctrl .aosr-fuzzy-el {
    filter: opacity(0);
}

.aosr-unblur-ctrl .aosr-fuzzy-el {
    filter: opacity(1);
}

.aosr-fuzzy-el {
    transition: filter 0.2s ease-in-out;
}

.aosr-answer {
    filter: opacity(0);
    transition: filter 0.2s ease-in-out;
}

.aosr-answer.aosr-show {
    filter: opacity(1);
    color: default;
}

.markdown-reading-view a.tag:is([href^="#AOSR/"]), .markdown-source-view a.tag:is([href^="#AOSR/"]) {
    display: none;
}
